<%- include("../common/header") -%>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>This is a sample</h1>
        </div>
        <div class="col-6">
            <p>Why ejs not load the logo in the navbar?</p>
        </div>
    </div>
</div>

<%- include("../common/footer") -%>